:root {
  --primary-color: #124076;
  --secondary-color: #ff407d;
}

::selection {
  background-color: #fba834;
  color: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.navbar-header {
  text-decoration: none;
  font-size: large;
  font-weight: 500;
  color: var(--primary-color);
  position: relative;
}

.navbar-header::after {
  content: "";
  background-color: #ff407d;
  width: 100%;
  height: 2.5px;
  display: block;
  transform: scaleX(0.2);
  transform-origin: left;
  transition: all 200ms ease-in-out;
}

.navbar-header:hover::after {
  transform: scaleX(1);
}

.header-title {
  margin: 48px;
  text-align: center;
  color: var(--primary-color);
  position: relative;
}

.critics {
  margin: 2em;
}

.header-title::after {
  content: "";
  width: 100%;
  margin: 0.3em auto;
  height: 4px;
  background-color: var(--secondary-color);
  display: block;
}

.module-navigate {
  text-align: center;
  margin: 1rem;
  background-color: var(--secondary-color);
  padding: 0.25em;
  border-radius: 12px;
  transition: all 200ms ease-in-out;
}

.module-navigate:hover {
  background-color: var(--primary-color);
}

.module-navigate a {
  color: white;
  text-decoration: none;
}

.npm {
  color: var(--secondary-color);
}

.navigate-cv {
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.navigate-cv:nth-child(odd) {
  background-color: var(--secondary-color);
  transition: box-shadow 200ms ease-in-out;
}

.navigate-cv:nth-child(even) {
  background-color: #fba834;
  transition: box-shadow 200ms ease-in-out;
}

.navigate-cv:nth-child(odd):hover {
  box-shadow: 0 0 10px 5px rgba(230, 54, 106, 0.5);
  background-color: #ff5a95;
}

.navigate-cv:nth-child(even):hover {
  box-shadow: 0 0 10px 5px rgba(230, 149, 46, 0.5);
  background-color: #ffb84d;
}

.navigate-cv:active {
  background-color: #fba834;
  color: white;
}

.list-item-data {
  width: 80vw;
  margin: 0 auto;
}

.profile-section,
.cv-section {
  position: relative;
  width: 30%;
}

.intro-section {
  background-color: var(--primary-color);
  padding: 12px;
  color: white;
}

.profile-section::after,
.cv-section::after,
.critics::after {
  content: "";
  position: absolute;
  width: 5em;
  margin: 0.1em auto;
  height: 4px;
  background-color: var(--secondary-color);
  display: block;
}

.divider {
  position: relative;
}

.divider::after {
  content: "";
  display: block;
  height: 4px;
  width: 5em;
  background-color: var(--secondary-color);
  margin: 0 auto;
}

.member-image {
  border-radius: 8px;
  transition: all 200ms ease-in-out;
  transform: rotate(10deg);
}

.member-image:hover {
  box-shadow: 0 0 10px 5px #48abe0;
  transform: rotate(0);
}

footer {
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  padding: 12px;
  color: white;
  width: 100%;
  border-top: 4px solid #fba834;
}

footer > p {
  text-align: center;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 2px;
}

body:hover::-webkit-scrollbar-thumb {
  background-color: #fba834;
}

.social-icons:hover {
  box-shadow: 0 0 10px 5px rgb(59, 89, 152);
}

.social-icons {
  border-radius: 8px;
  transition: box-shadow 200ms ease-in-out;
}
