:root {
  --box-shadow-primary: rgba(45, 255, 196, 0.9);
  --container-color: #f9f9f9;
  --line-color: #ff407d;
  --border-radius-small: 4px;
  --border-radius-medium: 12px;
  --border-color: #ddd;
  --button-color-primary: #4793af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h2 {
  margin: 48px;
  text-align: center;
}

/* 
    index.php
*/
.title {
  color: red;
  font-size: xx-large;
  text-align: center;
}

.wrapper-menu {
  margin: 4em auto;
  padding: 4em;
  max-width: 52em;
  height: 400px;
  background-color: var(--container-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-medium);
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu li {
  position: relative;
}

.menu li::after {
  content: "";
  background-color: var(--line-color);
  width: 70%;
  margin: 12px;
  height: 2.5px;
  display: block;
  transform: scaleX(0.2);
  transform-origin: left;
  position: absolute;
  left: 12px;
  transition: all 200ms ease-in-out;
}

.menu li:hover::after {
  transform: scaleX(1);
}

.menu li a {
  color: #4793af;
  margin: 24px;
  text-decoration: none;
  font-size: larger;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.menu li a:hover {
  color: green;
  transform: scale(1);
  padding: 12px;
  border-radius: var(--border-radius-medium);
}

.back-to-index {
  padding: 12px;
  position: relative;
  border: none;
  background-color: var(--button-color-primary);
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.back-to-index a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

/* 
    view_guest.php
*/

table {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--border-color);
}

th {
  background-color: #4793af;
  color: white;
  font-weight: 300;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* 
    add_guest.php
    login.php
*/

input[type="submit"] {
  background-color: var(--button-color-primary);
  color: white;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 0px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.login-wrapper,
.add-guest-container {
  max-width: 400px;
  margin: 1em auto;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--container-color);
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 6px 0 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="password"]:focus {
  border: none;
  outline: none;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="time"]:hover,
input[type="password"]:hover {
  box-shadow: 0px 0px 35px 0px var(--box-shadow-primary);
}

button[type="submit"] {
  background-color: var(--button-color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.error-message,
.none-guest {
  color: red;
  text-align: center;
  margin: 1em;
}
